body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("./components/images/BGtRANSPARENTE.png");
  background-size: cover;
  color: white;
  padding: 0%;
 
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#ContenedorNavBar a{
  color: white;
}
#SubMenu a{
  color: black;
}

.btnVaciarCarrito{
  border-radius: 15px;
  border: none;
  background-color: gray;
  color: white;
  font-weight: bolder;
}
.cellTotal{
  background-color: gray;
  font-weight: bolder;
}
.table-color{
  color: #F2F2F2;
  font-size: 18px;
  font-weight: 500;
}